.site-header {
  background-color: #f5f5f5;
  margin-bottom: 48px;
  padding: 20px 0;
}

.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header_logo {
  width: 250px;
  height: 100px;
  border: 4px #d3bea2 solid;
}

.nav__link{
  display: inline-block;
  padding: 0.4em 2.3em;
  margin-top: 30px;
  font-size: 1em;
  color: #648740 ;
  text-decoration: none;
  user-select: none;
  border: 5px #d3bea2 solid;
  border-radius: 100vh;
  transition: 0.4s ease;
}
.nav__link:hover{
  color: #fff;
  background: #d3a7a2;
}

.nav__auth{
  display: inline-block;
  padding: 0.4em 1.6em;
  margin-top: 20px;
  font-size: 1em;
  color: #648740 ;
  text-decoration: none;
  user-select: none;
  border: 5px #d3bea2 solid ;
  border-radius: 100vh;
  transition: 0.4s ease;
}

.nav__auth:hover{
  color: #fff;
  background: #90d9bd;
}

 /* タブレット表示時 */
 @media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__summary {
    font-size: 16px;
  }
}

 /* スマホ表示時 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
}
