.seven-header {
  width: 100%;
  min-width: 800px;
  height: 170px;
  background-color: #eccccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seven-logo {
  width: 100%;
  height: 140px;
  border: 4px #a0d6c4 solid;
  display: block;
}