
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding-bottom: 120px; /* フォームの高さ分だけ余白を追加 */
}

.messages {
  flex: 1; /* メッセージエリアをフレックスアイテムにすることで余白を利用 */
  overflow-y: auto;
  padding-right: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #bfefc5;
  max-width: 350px;
  padding: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: 300px;
  margin-top: 10px;
}

.other-user-message {
  align-self: flex-start;
  background-color: #cbc9f9;
  margin-left: 0;
  margin-right: auto;
}

.message-image {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.message-image img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}

.message-text {
  display: block;
  text-align: right;
}

.message-position {
  display: flex;
  flex-direction: column;
}

.message-user {
  font-weight: bold;
  text-align: right;
}

.message-time {
  font-size: 0.8rem;
  color: gray;
}

.form-image {
  margin-left: 750px;
}

/* フォーム全体を画面の下部に固定 */
.form-input {
  background: white; /* 背景色を指定（デザインを保持） */
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column; /* 既存のデザインを保持 */
  align-items: center;
}

.form-image input[type="file"] {
  margin-right: 360px;
}

/* メッセージ入力欄 */
.form-message {
  max-width: 600px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  height: 80px;
}

/* 送信ボタン */
.form-submit {
  padding: 0.4em 1.6em;
  margin-top: 20px;
  font-size: 1em;
  color: #acac5e;
  text-decoration: none;
  user-select: none;
  border: 5px #a4c3d2 solid;
  border-radius: 100vh;
  transition: 0.4s ease;
  width: 120px;
  gap: 10px;
}

 /* タブレット表示時 */
 @media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__summary {
    font-size: 16px;
  }
}

 /* スマホ表示時 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
}
