 <div class="card">
      <%= link_to (image_tag item.item_image, class: :card__img), item_path(item) %>

      <%# if post.purchases.present? %>
        <div class="found-home-second">
          <span>完売しました</span>
        </div>
      <%# end %>

<div class="card__body">
  <span class="card__title"><p>商品名：<%= link_to item.name, item_path(item)%></p></span>
  <span class="card__address"><p>カテゴリー：<%= link_to item.item_category.name, item_path(item) %></p></span>
</div>
</div>