<%= render "shared/five_header" %>

<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <h2 class="page-title">こんにちは
        <%= link_to "#{current_user.nickname} さん", root_path(current_user), class: :login__link%></h2>
        <p>こちらでは動物に関する様々なアイテムを購入いただけます</p>
        <p>お好みのアイテムをお選びください</p>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%#= render partial: 'item', collection: @items, as: :post %>
    </div>
    </div>
</main>

        <footer class="footer">
      <p class="copyright">Copyright © Find a family All rights reserved.</p>
    </footer>
