  <div id="favorite-btn<%= @post.id %>">
<% if user_signed_in? && @post.favorited_by?(current_user) %>
  <%= link_to "お気に入り解除", post_favorites_path(@post), data: { turbo_method: :delete }, class: "favorite-btn-active" %>
   <% else %>
  <%= link_to "お気に入り追加", post_favorites_path(@post), data: { turbo_method: :post }, class: "favorite-btn" %>
    <% end %>
    </div>