    <div class="card">
      <%= link_to (image_tag post.animal_image, class: :card__img), post_path(post) %>

      <% if post.adoption.present? %>
        <div class="found-home-second">
          <span>家族が見つかりました</span>
        </div>
      <% end %>

      <div class="card__body">
        <%= link_to post.title, post_path(post), class: :card__title %>
        <%= link_to post.address, post_path(post), class: :card__address %>
        <%= link_to " #{post.user.nickname}さん", user_path(current_user), class: :card__user %>
      </div>
    </div>