<%= render "shared/header" %>

<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <h2 class="page-title">こんにちは
        <%= link_to "#{current_user.nickname} さん", root_path(current_user), class: :login__link%></h2>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'post', collection: @posts, as: :post %>
    </div>
    </div>
</main>
