.profile-box-img {
  width: 300px;
  height: 300px;
  margin-left: 550px;
}

.page-heading {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 10px solid #e35e5e;
}

.page-header{
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.user__wrapper{
  min-height: calc(100vh - 500px);
  margin-left: 480px;
  margin-top: 20px;
}

.table{
  border-collapse: collapse;
  width: 50%;
}

.table__col1{
  text-align: center;
  font-weight: bold;
  background: #decece;
  border-collapse: collapse;
  border: 1px solid #d9c3c3;
  width: 20px;
  padding: 8px;
}
.table__col2{
  text-align: center;
  border: 1px solid #d5b2b2;
  border-collapse: collapse;
  width: 20px;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 900px; 
  margin: 0 auto;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.tab-buttons {
  margin-top: 40px;
  margin-left: 70px;
}

.tab-links {
  margin-top: 40px;
  margin-left: 40px;
}

.user-edit-btn {
  background: #e08b97d0;
  border: 4px #e08b97d0 solid;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 50px;
  transition: background 0.3s ease;
}

.user-destroy {
  background: #9dcab1;
  border: 5px #9dcab1 solid;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 50px;
  transition: background 0.3s ease;
}

.tab-btn,
.back-tab-btn{
  background: #d5e097;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.tab-btn.active {
  background: #59abe1;
  color: white;
}

.back-tab-btn:hover{
  color: #fff;
  background: #d990aa;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

 /* タブレット表示時 */
 @media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__summary {
    font-size: 16px;
  }
}

 /* スマホ表示時 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
}
