.profile-box-img {
  width: 300px;
  height: 300px;
  margin-left: 550px;
}

.page-heading {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 5px;
  border-bottom: 10px solid #e35e5e;
}

.page-header{
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.page-second-heading {
  margin-left: 20px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 100px;
  border-bottom: 10px solid #e35e5e; /* 文字の下に赤い線を引く */
  width: fit-content; /* 文字の幅だけに合わせる */
  padding-bottom: 5px; /* 線と文字の間に少し余白を追加 */
}


.user__wrapper{
  min-height: calc(100vh - 500px);
  margin-left: 480px;
  margin-top: 20px;
}

.table{
  border-collapse: collapse;
  margin-bottom: 32px;
  width: 50%;
}
.table__col1{
  text-align: center;
  font-weight: bold;
  background: #decece;
  border-collapse: collapse;
  border: 1px solid #d9c3c3;
  width: 20px;
  padding: 8px;
}
.table__col2{
  text-align: center;
  border: 1px solid #d5b2b2;
  border-collapse: collapse;
  width: 20px;
  padding: 16px 8px;
}
.user__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 900px; 
  margin: 0 auto;
}
/* フッター */

.footer {
  background-color: #999;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}
