/* ボタン */
.login__link {
  margin-left: 15px;
  font-size: 23px;
  border-bottom: 5px solid #f1501f;
}

.page-title {
  font-size: 23px;
  margin-bottom: 28px;
}

/* 投稿表示 */
.card {
  width: calc((100% - 50px) / 4);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}

.card__address {
  display: block;
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: bold;
}

.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 15px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

.found-home-second{
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(99, 105, 219);
  color: #ecf161; 
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}