
.post-show {
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.post-box {
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.post-box-img {
  height: 150vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.post-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-price-box>.item-price {
  font-size: 4vh;
  font-weight: bold;
}

.post-price-box>.item-postage {
  font-size: 16px;
}

.edit-delete-buttons {
  display: flex;
  justify-content: space-evenly; /* ボタン間のスペースを均等に分ける */
  align-items: center;
  margin-top: 20px;
}

.post-red-btn, .post-destroy {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 2vh 5vw;
  margin: 0 5px; /* ボタン間のスペースを調整 */
}

.post-red-btn,
.post-destroy,
.back-second-btn {
  width: 200px;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  border-radius: 100vh;
  white-space: nowrap;
  padding: 0 10px;
}

.post-red-btn {
  background-color: #ed4816;
  border: 3px solid #8f4c11;
  color: #FFF;
}

.post-destroy {
  background-color: rgb(214, 158, 158);
  border: 3px solid #8a4c15;
  color: rgb(107, 30, 30);
}

.back-second-btn {
  background: #6ec47b;
  border: 3px solid #e7b33a;
  color: #fff;
}

.detail-table {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  font-size: 20px;
  text-align: center
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(243, 128, 79);
  border: 2px solid #ffb340;
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}
.comment-box label {
  display: block;
  margin-bottom: 2px;
}

.comment-box {
  width: 40vw;
  background-color: #fff;
  text-align: center;
  margin-left: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
  margin-top: 10px;
}

.comment-warn {
  padding: 10px;
  font-size: 15px;
  margin-right: 60px;
  text-align: center;
}

.comment-container {
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}

.comment-btn {
  display: inline-block;
  line-height: 65px;
  background-color: #60bfc2;
  border: 3px solid #036265;
  color: #fff;
  width: 40%;
  height: 70px;
  min-width: 150px;
  font-size: 20px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

/* TOPにもどるボタン */
.back-btn {
  background-color: #d17660d4;  /* 異なる背景色 */
  margin-left: 50px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #95dce3;
  border: 3px #c6d5a4 solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #75b0b2;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}

.item-box-img {
  width: 50vw;
  height: auto;
  max-width: 80%;
  max-height: 60vh;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  display: block;
  margin: 30px auto;
}

.title_name {
  font-size: 30px;
  color: #000000;
  border-bottom: 10px solid #f1501f;
}

.comment_image {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  border-radius: 8px;
}

.show-back-btn {
  width: 100% !important;
  height: 100px;
  margin-left: auto;
  margin-right: 70px;
  text-align: center;
  background: #aaa;
  border: 3px solid #5bb4b2;
  border-radius: 100vh; 
  color: #fff;
}

.found-home {
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(99, 105, 219);
  color: #ecf161; 
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

.back-to-top-btn,
.delete-btn {
  display: inline-block;
  margin-top: 10px;
  margin-left: 150px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.back-to-top-btn.delete-btn {
  background-color: #dfae4c;
  padding: 10px 50px;
  margin-left: 65px;

}


