

.btn-edit,
.adoption-btn {
  border-radius: 100vh;
  color: #ffffff;
  height: 70px;
  margin-bottom: 4vh;
  text-align: center; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.btn-edit  {
  background: #c7d292;
  border: 6px solid #d783cab6;
  border-radius: 100vh;
  color: #ffffff;
  padding: 0;
  width: 40%;
  font-size: 17px;
  margin-left: 50px;
}

.adoption-btn {
  background: #e98d8d;
  border: 3px solid #83c9ff;
  border-radius: 100vh;
  color: #ffffff;
  padding: 0;
  width: 40%;
  font-size: 17px;
}

 /* タブレット表示時 */
 @media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .card__title {
    font-size: 20px;
  }
  .card__summary {
    font-size: 16px;
  }
}

 /* スマホ表示時 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
}