/* こんにちは */
.page-title {
  font-size: 23px;
  margin-bottom: 28px;
}

/* 〜さん */
.login__link {
  margin-left: 15px;
  font-size: 23px;
  border-bottom: 5px solid #f1501f;
}

/* 投稿表示 */

.card {
  width: calc((100% - 70px) / 5);
  margin-right: 20px;
   margin-bottom: 100px;
}

.card__img {
  margin-bottom: 16px;
}

.card__title {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

.card__address {
  font-size: 15px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__user {
  display: block;
  font-size: 15px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}

/* 家族が見つかりました・準備中です */
.found-home-second{
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(250, 209, 135);
  color: #e65174; 
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}


/* フッター */
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: rgb(195, 187, 187);
  text-align: center;
  padding: 10px 0;
}
