.posts-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}/* 変更なし */

.posts-sell-header {
  padding: 5vh 0;
  text-align: center;
}/* 変更なし */

.posts-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}/* 変更なし */

.posts-sell-title {
  font-size: 25px;
  border-bottom: 10px solid #f1501f;
  font-weight: bold;
  text-align: center;
}/* 文字の太さとライン追加 */


/* 共通 */
.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}/* 変更なし */

.weight-bold-text {
  font-weight: bold;
  font-size: 20px;
  min-width: 170px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 20px;
}/* 変更あり */

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}/* 変更なし */


/* /共通 */
/* 画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}/* 変更なし */

.click-upload {
  margin: 35px 0;
  min-width: 250px;
  margin-left: 350px;
}/* 変更なし */

.click-upload>p {
  margin-bottom: 15px;
}/* 変更なし */

.new-posts {
  padding: 2vh 0;
}/* 変更なし */

.posts-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}/* 変更なし */

.content-text {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.select-box {
  margin: 2vh 0;
}


/* 投稿する・戻るボタン */
.sell-btn-contents {
  display: flex;
  justify-content: flex-start !important; 
  gap: 20px;
  width: 80% !important;
  padding-top: 50px;
  margin-left: auto; /* 右に寄せる */
  margin-right: 70px; /* 右側の余白をゼロに */
  text-align: center;
}

.sell-btn,
.return-btn {
  background: #efa360;
  border: 3px solid #ac4006a3;
  border-radius: 100vh;
  color: #ffffff;
  height: 70px;
  font-size: 20px;
  margin-bottom: 4vh;
  text-align: center; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.sell-btn {
  width: 48%;
}

.return-btn {
  background: #aaa;
  border: 3px solid #5bb4b2;
  border-radius: 100vh;
  color: #fff;
  padding: 0;
  width: 48%;
}